<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.ko.home.board.notice.NoticeDAO">

	<sql id="search">
		WHERE
			<choose>
				<when test="kind=='title'">TITLE</when>
				<when test="kind=='writer'">WRITER</when>
				<otherwise>contents</otherwise>
			</choose>
		LIKE '%'||#{search}||'%'
	</sql>
	
	<insert id="setAddFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILE
		VALUES(FILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{num})
	</insert>

	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
		SELECT * FROM
		(SELECT ROWNUM R, N.* FROM
		(SELECT * FROM NOTICE 
			<include refid="search"></include>
		 ORDER BY NUM DESC) N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
		SELECT N.*, NF.*
		FROM NOTICE N
			 LEFT JOIN
			 NOTICEFILE NF
			 ON N.NUM=NF.NUM
		WHERE N.NUM=#{num}
	</select>
	
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="NUM" property="num"/>
		<result column="TITLE" property="title"/>
		<result column="WRITER" property="writer"/>
		<result column="CONTENTS" property="contents"/>
		<result column="REGDATE" property="regDate"/>
		<result column="HIT" property="hit"/>
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>
	
	<select id="getCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(num) FROM NOTICE
		<include refid="search"></include>
	</select>
	
	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE (NUM, TITLE, WRITER, CONTENTS, REGDATE, HIT)
		VALUES(#{num}, #{title}, #{contents}, #{writer}, sysdate,0)
	</insert>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM=#{num}
	</delete>
	
</mapper>